# Ignore build artifacts
scripts/build
scripts/nodejs/build

# Ignore Node.js modules
node_modules

# Ignore Jekyll build directory (if applicable)
_site

# Ignore Python bytecode files and cache
scripts/python/__pycache__
*.pyc

# VS Code specific files
.vscode/

# MacOS-specific files
.DS_Store

# Node.js debugging log (optional)
npm-debug.log
