.outer {
  width: 100%;
}

.inner {
  position: relative;
  max-width: 640px;
  padding: 20px 10px;
  margin: 0 auto;
}


#header_wrap {
  background: #212121;
  background: -moz-linear-gradient(top, #373737, #212121);
  background: -webkit-linear-gradient(top, #373737, #212121);
  background: -ms-linear-gradient(top, #373737, #212121);
  background: -o-linear-gradient(top, #373737, #212121);
  background: linear-gradient(top, #373737, #212121);
}

#header_wrap .inner {
  padding: 50px 10px 30px 10px;
}

#downloads {
  position: absolute;
  width: 210px;
  z-index: 10;
  bottom: -40px;
  right: 0;
  height: 70px;
  background: url('../images/icon_download.png') no-repeat 0% 90%;
}

/** same style for highlighted, non-highlight */
.cpp.hljs {
    overflow-x: unset;
    padding: unset;
}

/** highlight js change colors (overrides style) */
.hljs-comment {
    color: #008000;
}
.hljs-meta {
    color: #2b91af;
}

.zip_download_link {
  display: block;
  float: right;
  width: 90px;
  height:70px;
  text-indent: -5000px;
  overflow: hidden;
  background: url(../images/sprite_download.png) no-repeat bottom left;
}

.tar_download_link {
  display: block;
  float: right;
  width: 90px;
  height:70px;
  text-indent: -5000px;
  overflow: hidden;
  background: url(../images/sprite_download.png) no-repeat bottom right;
  margin-left: 10px;
}

.zip_download_link:hover {
  background: url(../images/sprite_download.png) no-repeat top left;
}

.tar_download_link:hover {
  background: url(../images/sprite_download.png) no-repeat top right;
}

/**
 * Try to display h5 headers left of paragraphs
 */

h5 {
    display: inline;
}

h5:before {
    content: '\A'; white-space:pre-line;
}

h5 + p {
    display: inline;
}

p:after {
    content: '\A'; white-space:pre-line;
}

@media print {
    .sidebar,.banner, a:after {
        display: none;
    }
    .container {
        width: 90%;
        margin: 2em;
        padding: 0px;
    }
    .* {
        color: #000;
        background-color: #fff;
        @include box-shadow(none);
        @include text-shadow(none);
    }
    code,p {
        page-break-inside:avoid;
        page-break-before:avoid;
    }
    pre code {
        /* try to fit 100 max chars into one A4 line */
        font-size: 2.8mm;
    }
    h1,h2,h3,h4,h5,strong {
        page-break-after:avoid;
    }
    h1,h2 {
        page-break-before:always;
    }
    a:link, a:visited {
        color: #000;
    }
}


.tgl {
  display: none;
}
.tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 8em;
  height: 2em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}
.tgl + .tgl-btn:after {
  left: 0;
}
.tgl + .tgl-btn:before {
  display: none;
}
.tgl:checked + .tgl-btn:after {
  left: 50%;
}

.tgl-cpp + .tgl-btn {
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background: #888;
}
.tgl-cpp + .tgl-btn:after, .tgl-cpp + .tgl-btn:before {
  display: inline-block;
  width: 100%;
  text-align: center;
  position: absolute;
  line-height: 2em;
  font-weight: bold;
  color: #fff;
}
.tgl-cpp + .tgl-btn:after {
  left: 100%;
  content: attr(data-tg-on);
}
.tgl-cpp + .tgl-btn:before {
  left: 0;
  content: attr(data-tg-off);
}
.tgl-cpp + .tgl-btn:active {
  background: #888;
}
.tgl-cpp:checked + .tgl-btn {
  background: #268bd2;
}
.tgl-cpp:checked + .tgl-btn:before {
  left: -100%;
}
.tgl-cpp:checked + .tgl-btn:after {
  left: 0;
}
