<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>C++ Core Guidelines</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/github.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js"></script>

  <!-- CSS, could be merged and minified for improved loading speed -->
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/poole.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/hyde.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/custom.css">

  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface|Roboto+Mono">
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">


  <!-- Include jquery.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>


  <!-- make sure you include the latest version -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/3.2.2/anchor.min.js"></script>

  <!-- No highlight on page load -->
  <script type="text/javascript">
    $( document ).ready(function() {
     $("code").addClass("no-highlight");
    });
  </script>

  <!-- AnchoJs links next to headers-->
  <script type="text/javascript">
    $( document ).ready(function () {
      anchors.add("h1, h2, h3");
    });
  </script>

  <!-- hack to toggle highlight on or off -->
  <script type="text/javascript">
    function stripSpans(i, spanTag) {
      var text = spanTag.textContent || spanTag.innerText;
      var node = document.createTextNode(text);
      spanTag.parentNode.replaceChild(node, spanTag);
    }
    $(function() {
      $("#hl_button")
        .click(function( event ) {
          $("pre code").toggleClass("cpp");
          $("pre code").toggleClass("hljs");
          $("pre code").toggleClass("no-highlight");
          $("pre code").each(function(i, block) {
            hljs.highlightBlock(block);
          });
          $("code.no-highlight").find("span").each(stripSpans);
        });
    });
  </script>
</head>

