<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <img src="cpp_core_guidelines_16b.png"/>
      <!--
      <h3>
        <!- -<a href="{{ site.baseurl }}">- ->
        <a href="https://github.com/isocpp/CppCoreGuidelines">  
          C++ Core Guidelines
        </a>
      </h3>
      -->
    </div>
    <nav class="sidebar-nav">
      <small>
        {% if page.name == "CppCoreGuidelines.md" %}

        <div class="switch">
          <input class="tgl tgl-cpp" id="hl_button" type="checkbox"/>
          <label class="tgl-btn" data-tg-off="Syntax highlight ON" data-tg-on="Syntax highlight OFF" for="hl_button"></label>
        </div>
      <!-- Items have to be added manually until for now -->
      <b><a class="sidebar-nav-item active" href="#main">Top</a></b>

      <a class="sidebar-nav-item active" href="#S-introduction">In: Introduction</a>
      <a class="sidebar-nav-item active" href="#S-philosophy">P: Philosophy</a>
      <a class="sidebar-nav-item active" href="#S-interfaces">I: Interfaces</a>
      <a class="sidebar-nav-item active" href="#S-functions">F: Functions</a>
      <a class="sidebar-nav-item active" href="#S-class">C: Classes and class hierarchies</a>
      <a class="sidebar-nav-item active" href="#S-enum">Enum: Enumerations</a>
      <a class="sidebar-nav-item active" href="#S-resource">R: Resource management</a>
      <a class="sidebar-nav-item active" href="#S-expr">ES: Expressions and statements</a>
      <a class="sidebar-nav-item active" href="#S-performance">Per: Performance</a>
      <a class="sidebar-nav-item active" href="#S-concurrency">CP: Concurrency</a>
      <a class="sidebar-nav-item active" href="#S-errors">E: Error handling</a>
      <a class="sidebar-nav-item active" href="#S-const">Con: Constants and immutability</a>
      <a class="sidebar-nav-item active" href="#S-templates">T: Templates and generic programming</a>
      <a class="sidebar-nav-item active" href="#S-cpl">CPL: C-style programming</a>
      <a class="sidebar-nav-item active" href="#S-source">SF: Source files</a>
      <a class="sidebar-nav-item active" href="#S-stdlib">SL: The Standard library</a>
      <br/>
      <a class="sidebar-nav-item active" href="#S-A">A: Architectural Ideas</a>
      <a class="sidebar-nav-item active" href="#S-not">N: Non-Rules and myths</a>
      <a class="sidebar-nav-item active" href="#S-references">RF: References</a>
      <a class="sidebar-nav-item active" href="#S-profile">Pro: Profiles</a>
      <a class="sidebar-nav-item active" href="#S-gsl">GSL: Guideline support library</a>
      <a class="sidebar-nav-item active" href="#S-naming">NL: Naming and layout</a>
      <a class="sidebar-nav-item active" href="#S-faq">FAQ: Frequently asked questions</a>
      <a class="sidebar-nav-item active" href="#S-libraries">Appendix A: Libraries</a>
      <a class="sidebar-nav-item active" href="#S-modernizing">Appendix B: Modernizing code</a>
      <a class="sidebar-nav-item active" href="#S-discussion">Appendix C: Discussion</a>
      <a class="sidebar-nav-item active" href="#S-tools">Appendix D: Tools support</a>
      <a class="sidebar-nav-item active" href="#S-glossary">Glossary</a>
      <a class="sidebar-nav-item active" href="#S-unclassified">To-do: Unclassified proto-rules</a>
        {% else %}

      <a class="sidebar-nav-item active" href="CppCoreGuidelines.html">Read the C++ Core Guidelines</a>
      <br/>
      <a class="sidebar-nav-item active" href="index.html">View project README</a>
      <a class="sidebar-nav-item active" href="CONTRIBUTING.md">View project Contributing</a>
      <a class="sidebar-nav-item active" href="LICENSE">View project License</a>
        {% endif %}

      </small>

    </nav>

    <!-- <p>Generated {{ site.time | date: '%Y-%m-%d' }}.</p> -->
  </div>
</div>
